@model IEnumerable<BugTracker.Models.Ticket>
@using BugTracker.Models

<h4>Project Tickets</h4>

<table class="table" id="project-tickets-table">
    <thead>
        <tr>
            <th>
                Title
            </th>

            <th>
                Created
            </th>

            <th>
                Assigned To
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                   
                    @Html.ActionLink(@item.Title, "Details", new { id = item.Id })
                </td>
               
                <td>
                   
                    @TimeZoneInfo.ConvertTime(item.Created, TimeZoneInfo.Local).ToString("M/d/yy h:mm tt")
                </td>

                <td>
                    @if (!string.IsNullOrEmpty(item.AssignedToUserId))
                    {
                        var helper = new UserRolesHelper();
                        var userName = helper.GetUserName(item.AssignedToUserId);
                        <span>@userName</span>
                    }
                    else
                    {
                        @Html.Raw("Unassigned");
                    }
                </td>

                <td>
                    @Html.ActionLink("Details", "Details", "Tickets", new { id = item.Id }, null)
                    @Html.Raw("<br>")
                    @Html.ActionLink("Edit", "Edit", "Tickets", new { id = item.Id }, null)

                    @if (User.IsInRole("Project Manager"))
                    {
                        @Html.Raw("<br>")
                        @Html.ActionLink("Assign", "AssignUser", "Tickets", new { id = item.Id }, null)
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
