@model IEnumerable<BugTracker.Models.TicketDetailsViewModel>

<link rel="stylesheet" href="~/DataTables/datatables.min.css" />

@*@{
    ViewBag.Title = "Tickets";
}*@

<h2>Tickets Dashboard</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" id="tickets-table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>*@
            <th>
                Created
            </th>
            @*<th>
                Updated
            </th>*@
            <th>
                Project
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.TicketType)
                </th>*@
            <th>
               Priority
            </th>
            <th>
               Status
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.OwnerName)
                </th>*@
            <th>
                Assigned To
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @*@Html.DisplayFor(modelItem => item.Title)*@
                    @Html.ActionLink(@item.Title, "Details", new { id = item.Id })
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>*@
                <td>
                    @*@Html.DisplayFor(modelItem => item.Created)*@
                    @*//this works to display local time but will use the same method I used to display update time to be consistent*@
                    @*@item.Created.ToLocalTime().ToString("M/d/yy h:mm tt")*@
                    @TimeZoneInfo.ConvertTime(item.Created, TimeZoneInfo.Local).ToString("M/d/yy h:mm tt")
                </td>
                @*<td>*@
                    @*@Html.DisplayFor(modelItem => item.Updated)*@
                    @*@if (item.Updated != null)
                    {
                        @TimeZoneInfo.ConvertTime((DateTimeOffset)item.Updated, TimeZoneInfo.Local).ToString("M/d/yy h:mm tt")
                        @* @item.Updated.ToLocalTime().ToString("M/d/yy h:mm tt")// this doesn't work with a nullable DateTimeOffset*@
                    @*}*@
                @*</td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectTitle)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.TicketType)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.TicketPriority)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TicketStatus)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.OwnerName)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.AssignedToUserName)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                    @if (User.IsInRole("Developer") || User.IsInRole("Project Manager") || User.IsInRole("Admin"))
                    {
                        @Html.Raw("<br>")
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                    }
                    @if (User.IsInRole("Project Manager") || User.IsInRole("Admin"))
                    {
                        @Html.Raw("<br>")
                        @Html.ActionLink("Assign", "AssignUser", new { id = item.Id })
                    }
                    @*@Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.ActionLink("View full ticket directory", "All", "Tickets")

@section Scripts
{
    <script type="text/javascript" src="~/DataTables/datatables.js"></script>
 
    <script>
        $(document).ready( function () {
            $('#tickets-table').DataTable();
        });
    </script>
}
